@import "helpers";
@import "variables";
@import "fonts";

.artwork-container{
	overflow-y: scroll;
	@extend %pageContainer;
	@at-root{
		.artwork-galleryStrip{
			
			@at-root{
				.galleryStrip-piece{
					display: flex;
					justify-content: center;
					align-items: center;
					flex-direction: column;
					&--title{
						width: 90%;
						//@include b($tan);
						border-top: 5px $tan solid;
						@include Anon;
						font-size: clamp(1rem,1.25rem,30px);
						padding: 5px;
					}
					&--image{
						// width: 300px;
						width: clamp(300px,100%,600px);
						height: 360px;
						background: cover;
						@include b($darkerTan);
						margin-bottom: 5px;
					}
				}
			}
			
		}
	}
}
