@import "helpers";//.rb,.yb
@import "variables";
@import "fonts";
// [Anon,PressStart,Righteous,ShareTech,SpaceMono,Titi]

*{
	margin: 0px;
	overflow: hidden;
	box-sizing: border-box;
	background: transparent;
}
a{
	text-decoration: none;
	color: $tan;
}
html{
	@include Titi(.75rem);
	color: $tan;
}