@import "helpers";
@import "variables";
@import "fonts";

@mixin fadeOut($t:.75s){
	animation: fadeOut $t linear 1s forwards;
}
@keyframes fadeOut{
	0%{opacity: 1}
	100%{opacity: 0}
}
@keyframes blinky{
	from{opacity: 0}
	to{opacity: 1}
}
.fade-out{
	@include fadeOut(2s);
}
.intro-modal{
	display: block;
	width: 100%;
	height: 100vh;
	background: #222;
	padding: 20px;
	opacity: 1;
	&_text-box{
		display: flex;
		// margin: 0 auto;
		justify-content: center;
		align-items: center;
		height: 100%;
		// padding: 0 1.45rem;
		padding: 0 1rem;
		word-wrap: break-word;
		/*padding: 0 25%; desktop*/
		@include PressStart(.85rem);
		
		@at-root{
			.introText,.introCursor {
				color: $tan;
				font-size: 1rem;
				line-height: 2rem;

			}
			.introButton{
				font-size: 1.25rem;
				margin-top: 15px;
				text-align: right;
			}
			.blinky{
				height: 25px;
				color: yellow;
				animation: blinky 1.5s steps(2) infinite;
			}
		}
	}
}
