@import "helpers";
@import "variables";
@import "fonts";

.stories-container{
	@extend %pageContainer;
	overflow-y: scroll;
	@at-root{
		.storyLink-container{
			width: 100%;
			margin: 5px 0;
			border-top: 2px $darkerTan solid;
			border-bottom: 2px $darkerTan solid;
			padding: 5px;
		}
		.storyLink_title{
			color: white;
		}
	}
}