@import "helpers";
@import "variables";
@import "fonts";

.stories-container{
	@extend %pageContainer;
	overflow-y: scroll;
	@at-root{
		.storyLink{
			&--container{
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				width: 100%;
				margin: 5px 0;
				@include b;
				padding: 5px;
				& small{
					@include Anon;
					margin-top: 10px ;
					color: $darkerTan;
				}
			}
			&--title{
				color: white;
				@include PressStart(1.05rem);
			}
			&--summary{
				text-align: center;
				margin-top: 10px;
				color: $tan;
				@include PressStart(.75rem);
			}
		}
	}
}