@import "helpers";

$tan : hsl(34,44%,69%);/*#d2b48c*/
$darkerTan: hsl(34, 44%, 30%);/*#6e512b*/

%pageContainer{
	display: block;
	width: 90%;
	height:95%;
	//@include b;
	padding: 10px;
}

@media(min-width: 361px){
	.layout-container{
		background: url("../images/pixel-gradient-background.png");
		background-size:  cover;
	}
	.layout-container_content {
		margin: 0 auto;
		// width: 800px;
		width: clamp(360px,100%,600px);
		//border: 5px $tan solid;
		
	}
	.introText{
		font-size: clamp(1rem,1.25rem,20px);
	}
	.galleryStrip-piece{
		display: inline;
		//@include b;
		width: clamp(300px,100%,600px);
	}
	.artwork-galleryStrip--image{
		width: clamp(300px,100%,600px);
	}
	.galleryStrip-piece--title{
		width: 100%;
	}
}